@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('/fonts/GoryeongStrawberry.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.test {
    @apply text-slate-700 dark:text-slate-100

}

/* Write 기능 버튼 */
button .ql-stroke,
.ql-picker-label .ql-stroke {
  @apply dark:fill-none dark:stroke-white dark:text-white !important
}

button .ql-fill,
.ql-picker-label .ql-fill {
  @apply dark:fill-white dark:stroke-none dark:text-white !important
}

button .ql-font,
.ql-picker-label {
    @apply hover:text-cyan-500 dark:text-white dark:hover:text-cyan-700 !important
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  @apply fill-none stroke-cyan-500 dark:fill-none dark:stroke-cyan-700 !important
}

.ql-active .ql-stroke {
  @apply fill-none stroke-cyan-500 dark:fill-none dark:stroke-white dark:text-white !important
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  @apply fill-cyan-500 stroke-none dark:fill-cyan-700 dark:stroke-none !important
}

.ql-active .ql-fill {
  @apply fill-cyan-500 stroke-none dark:fill-white dark:stroke-none !important
}


.main-title {
    @apply ml-3 text-xl dark:text-slate-50 
}

.bg-primary {
    @apply bg-white dark:bg-slate-800
}

.btn-project {
    @apply inline-flex text-white dark:text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg
}

.project-card {
    @apply flex flex-col m-3  rounded-xl w-full
            transition duration-300 transform 
            bg-gradient-to-br from-[#f1e9cb] to-[#ffffff] 
            /* dark:from-[#0F2027] from-5% dark:via-[#203A43] via-50% dark:to-[#2C5364] to-90% */
            dark:from-[#141E30] dark:to-[#243B55]
            border border-gray-300
            hover:scale-105 
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40
            dark:hover:text-cyan-300
}

.profile-card {
    @apply transition duration-300 transform 
            bg-gradient-to-br from-[#fffbed] to-[#ffffff] 
            dark:from-[#141E30] dark:to-[#243B55]
            border border-gray-300
            hover:scale-105 
            hover:shadow-lg
            dark:text-slate-200
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40
            hover:text-sky-600
            dark:hover:text-cyan-300
}

.profile-title {
    @apply bg-gradient-to-br from-[#87d3f7] to-[#ffffff]
        dark:from-[#c2edff] from-10% dark:via-[#2693b8] via-50% dark:to-[#c2edff] to-90%
}

.exp-card{
    @apply bg-gradient-to-br from-sky-800 to-sky-200 
}

.recent-card {
    @apply rounded-xl block
        bg-white/50 p-4 text-sm backdrop-blur
        transition duration-300 transform 
        dark:bg-slate-900/60 
        hover:shadow-lg
        dark:hover:shadow-gray-400/40
}

.url-link {
    @apply text-slate-500 text-sm hover:text-sky-400
}@use "katex/dist/katex.min.css";

.commentContentsClosed{
	margin-top: 10px;
	text-overflow: ellipsis;  
	overflow : hidden;
	display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

html, body {
    font-family: 'TheJamsil5Bold'
}

h1, h2, h3, h4, h5, h6 {
    @apply text-slate-900 dark:text-white
}

footer {
    @apply text-gray-600 dark:text-white bg-gray-100 dark:bg-slate-600/20
}

a {
    @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 
}

p {
    @apply text-slate-500 dark:text-slate-400 
}

pre {
    @apply text-[#212529] bg-[##fbfcfd] dark:text-[#ececec] dark:bg-[#1e1e1e] 
        rounded-xl p-3 my-2
        border-solid border-2 border-cyan-500 dark:border-blue-500 
}

.draggable {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}